/* $footbg-cl:#693F85; */
header {
  position: relative;
  /* display: flex;
  justify-content: center; */
  background-image: url(/img/4.jpg);
  min-height: 580px;
  /* background-position:; */
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 50% 50% 0; }
  header nav {
    display: flex;
    max-height: 70px;
    margin-left: 20px;
    text-align: center; }
    header nav a {
      max-width: 30px;
      text-decoration: none;
      font-size: 11px;
      color: #4b2b60;
      margin: 40px 10px 0 10px; }
  header .hero-header {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    /* -ms-transform: translate(-50%, -50%); */
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: 0 auto; }
    header .hero-header h1 {
      font-family: 'Hind', sans-serif;
      font-weight: 100;
      color: #4b2b60;
      text-align: center; }
    header .hero-header button.hero-btn {
      font-size: 10px;
      margin: 30px auto 0 auto;
      padding: 15px 30px 15px 30px;
      color: white;
      border: 0.4px solid white;
      border-radius: 0px;
      background-color: transparent;
      opacity: 0.2; }

main section.look-at-our-hot-tours h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
  font-size: 32px;
  text-align: center;
  margin: 0; }
main section.look-at-our-hot-tours .tours-section {
  display: flex;
  flex-direction: column;
  align-items: center; }
  main section.look-at-our-hot-tours .tours-section .tour {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 200px;
    margin: 0 auto 20px auto;
    box-shadow: 0px 0px 12px 0px rgba(61, 55, 61, 0.7); }
    main section.look-at-our-hot-tours .tours-section .tour .img-tour {
      /* max-width: 200px;
      height: 200px;
      overflow: hidden; */ }
      main section.look-at-our-hot-tours .tours-section .tour .img-tour img {
        /*  display: block; */
        height: 200px;
        width: 200px;
        object-fit: cover; }
    main section.look-at-our-hot-tours .tours-section .tour .tour_descr {
      margin-left: 15px; }
      main section.look-at-our-hot-tours .tours-section .tour .tour_descr h3 {
        font-family: "Source Sans Pro", sans-serif;
        color: gray;
        font-size: 27px;
        font-weight: 100;
        opacity: 0.8;
        margin-bottom: 0;
        text-align: center; }
      main section.look-at-our-hot-tours .tours-section .tour .tour_descr p {
        margin-top: 0;
        color: #4B2B60;
        opacity: 0.8; }
main section.reviews {
  max-width: 90%;
  margin: 20px auto 10px auto;
  background-color: #77548E;
  padding: 10px 0 10px 0; }
  main section.reviews h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 100;
    text-align: center;
    color: #AB8BC1;
    opacity: 0.5; }
  main section.reviews .blocks-together {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    main section.reviews .blocks-together .reveiw-block {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 30%;
      padding: 10px;
      background-color: #AB8BC1; }
      main section.reviews .blocks-together .reveiw-block .reviews-images img {
        /*  display: block; */
        height: 70px;
        width: 70px;
        object-fit: cover;
        border-radius: 50%; }
      main section.reviews .blocks-together .reveiw-block .review-text {
        margin-left: 30px;
        color: white;
        font-size: 11px;
        opacity: 0.8; }
main section.find-your-own-town {
  width: 70%;
  margin: 10px auto 20px auto;
  background-color: #796984;
  padding: 20px 0 20px 0; }
  main section.find-your-own-town h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 100;
    text-align: center;
    color: #4B2B60;
    opacity: 0.5; }
  main section.find-your-own-town .inputs {
    display: flex;
    justify-content: space-evenly; }
  main section.find-your-own-town input.inputs-info, main section.find-your-own-town select {
    width: auto;
    background-color: transparent;
    border: none;
    color: #16232d;
    opacity: 0.7;
    border-bottom: 1px solid #16232d; }
  main section.find-your-own-town ::placeholder {
    color: #16232d;
    opacity: 0.7; }

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #334b7ced;
  /* $footbg-cl; - did not work */
  padding: 20px 30px 30px 30px; }
  footer :nth-of-type(1) {
    flex-grow: 2; }
  footer :nth-of-type(2) {
    flex-grow: 1; }
  footer :nth-of-type(3) {
    flex-grow: 1; }
  footer :nth-of-type(4) {
    flex-grow: 2; }
  footer .footer-info-blocks {
    max-width: 30%; }
    footer .footer-info-blocks .footer-headers {
      color: #9E64C6;
      font-size: 15px; }
    footer .footer-info-blocks .social-media-links {
      display: block; }
      footer .footer-info-blocks .social-media-links img {
        height: 40px;
        width: 40px;
        object-fit: cover; }
      footer .footer-info-blocks .social-media-links a:first-child {
        margin-left: 0; }
      footer .footer-info-blocks .social-media-links a:last-child {
        margin-right: 0; }
      footer .footer-info-blocks .social-media-links .copyright-text {
        color: #4B2B60; }
    footer .footer-info-blocks .footer-list ul {
      padding-left: 20px; }
      footer .footer-info-blocks .footer-list ul li {
        list-style-type: none;
        line-height: 13px; }
    footer .footer-info-blocks .footer-list a {
      text-decoration: none;
      color: #9E64C6;
      opacity: 0.6;
      font-size: 13px; }
    footer .footer-info-blocks .payment-methods-links img {
      height: 40px;
      width: 40px;
      object-fit: contain; }
    footer .footer-info-blocks form {
      display: flex;
      flex-direction: column; }
      footer .footer-info-blocks form label {
        font-weight: bold;
        margin-bottom: 10px; }
      footer .footer-info-blocks form input {
        padding: 5px;
        border: none;
        border-radius: 0px; }
      footer .footer-info-blocks form ::placeholder {
        font-size: 10px;
        opacity: 0.7; }
      footer .footer-info-blocks form button {
        margin-top: 20px;
        border: none;
        border-radius: 0px;
        background-color: #4B2B60;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 10px;
        opacity: 0.7; }
