.bg-image-custom {
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)
    ), url("/img/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.logo-color {
    color: #C62C45;
}