body {
    box-sizing: border-box;
    min-width: 68.88888888888889vw;
    display: grid;
    grid-template-rows: 85vh 275vh 45.0199203187251vh;
    grid-template-columns: 100%;
    margin: 0;
    font-family: system-ui, sans-serif;
}
header {
    grid-row: 1 / 2;
    padding: 0 3.4722222222222223vw;
    position: relative;
    background-image: url(/img/wheat.jpg);
    background-size: 39vw 83vh;
    background-color: #FDFBFC;
    background-repeat: no-repeat;
    background-position: top left;
}
nav {
    display: flex;
    width: 100%;  
    justify-content: end;
}
a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 1.3vh 3.3vw;
    font-size: 1.3em;
    font-weight: 300;
}
a:last-child {
    padding-right: 0;
}

.hero-text-block {
    position: absolute;
    max-width: 56%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.hero-text {
    display: block;
    font-size: 2em;
    font-weight: 300;
}
span {
    color: #e2ba7b;
    font-weight: 400;
}
button:hover {
    cursor: pointer;
}
.hero-btn {
    padding: 1em 4em;
    background-color: transparent;
    border: none;
    border-right: 0.2em solid #65aa44;
    border-left: 0.2em solid #65aa44;
}
main {
    grid-row: 2 / 3;
    
}
section.companies-group {
    background-color: #FDFBFC;
    padding: 2.6vh 3.4722222222222223vw;
}
h2 {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0.3em;
    padding-left: 0.2em;
    border-left: 0.3em solid #65aa44;
    border-bottom: 0.1em solid #65aa44;
    font-size: 2.3em;
    font-weight: 400;
    line-height: 1em;
}
/* hr {
    margin: 0;
    background-color: #65aa44;
} */
.all-text {
    font-weight: 300;
}
.complanies-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.uno-companie-block {
    width: 28%;
}
h3 {
    font-size: 1.6em;
    font-weight: 900;
    color: #65aa44;
}
section.what-do-we-offer {
    padding: 2.6vh 3.4722222222222223vw;
}
.what-do-blocks {
    display: flex;
    justify-content: start;
}
.what-do-uno-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 7em;
}

div.img-what-to-do {
    width: 2.8vw;
    height: 5.466666666666667vh;
    margin-right: 2em;
    background-image: url(/img/icon/car.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
}
/* div.what-do-uno-block>img {
    width: 2.8vw;
    margin-right: 2em; 
} */
.img-what-to-do.img-what-to-do-cart {
    background-image: url(/img/icon/cart.png);
}

.img-what-to-do.img-what-to-do-dollar {
    background-image: url(/img/icon/dollar.png);
}
.img-what-to-do.img-what-to-do-pie {
    background-image: url(/img/icon/pie.png);
}
.img-what-to-do.img-what-to-do-selling {
    background-image: url(/img/icon/planet.png);
}
.bold-name {
    font-weight: 900;
}
.purchase-table {
    background-color: #FDFBFC;
    padding: 2.6vh 3.4722222222222223vw;
}
table, td, th {
    border: 0.1em solid #e2ba7b;
    text-align: center;
    
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 1.5vh 1vw;
}
/* tr.table-font-bold > th{
    font-weight: 700;
} */
td:first-child {
    font-weight: 700;
}
.all-text-italic {
    font-style: italic;
}
li::marker {
    color: #e2ba7b;
}
.our-news {
    background-color: #FDFBFC;
    padding: 2.6vh 3.4722222222222223vw;
}
.new-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.news-uno-block {
    display: flex;
    align-items: center;
    width: 29vw;
    height: 24vh;
    background-color: #FDFBFC;
    box-shadow: 0px 0px 12px 0px #D3D3D3;
}
.news-uno-block > img {
    height: 19vh;
    width: 16vh;
    object-fit: cover;
    padding-left: 1vw;
}
.news-text {
    width: 18vw;
    /* height: 18vh; */
    margin-left: 1vw;
}
.news-text p {
    margin: 0;
    font-size: 0.8em;
}
h4 {
    font-weight: 500;
    margin: 0;
    font-size: 0.9em;
}
.news-data {
    color: #808080;
    margin: 0;
    font-size: 0.9em;
}
   
footer {
    grid-row: 3 / 3;
    background-color: #FDFBFC;
    padding-left: 2vw;
}
.footer-blocks {
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
}
.footer-uno-block p.bold-name {
    margin: 0;
}
.footer-uno-block {
    /* max-width: 10vw; */
    display: flex;
    align-items: flex-start;
    margin-right: 1em;
}
.footer-text {
    margin-top: 0;
}
.footer-uno-block.contacts {
    display: flex;
    flex-direction: column;
}
.footer-img {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
}

div.lin-img {
    width: 2.8vw;
    height: 5.466666666666667vh;
    margin-bottom: 1.5em;
    background-image: url(/img/network/linkedin.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
}

div.lin-img.email-img {
    background-image: url(/img/network/envelope.png);
}
div.lin-img.fb-img {
    background-image: url(/img/network/fb_icon.png);
}
div.lin-img.footer-uno-block > p {
    margin-left: 1em;
    font-size: 0.8em
}
img.envelope {
    height: 4vh;
}

div.shift-text {
    padding-left: 3vw;
}

.shift-text > p {
    font-size: 0.8em
}

@media screen and (max-width: 768px) {
    body {
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 85vh 385vh 78vh;
        grid-template-columns: 100%;
        margin: 0;
    }
    header {
        box-sizing: border-box;
        padding: 0 4vw;
        position: relative;
        background-image: url(/img/wheat.jpg);
        /* background-size: 39vw 83vh; */
        background-size: 60%;
        background-color: #FDFBFC;
        background-repeat: no-repeat;
        background-position: left;
    }
    nav {
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;  
        /* text-align: center; */
    }
    a {
        display: block;
        min-width: 6em;
        text-decoration: none;
        color: #000;
        /* padding: 1.3vh 3.3vw; */
        text-align: center;
        font-size: 1.3em;
        font-weight: 400;
    }
    a:last-child {
        padding-right: 3.3vw;;
    }
    .hero-text-block {
        position: absolute;
        min-width: 90%;
        top: 60%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .hero-text {
        display: block;
        font-size: 1.1em;
        font-weight: 300;
        text-align: center;
    }
    .hero-btn {
        padding: 1em 2em;
        background-color: transparent;
        border: none;
        border-right: 0.1em solid #65aa44;
        border-left: 0.1em solid #65aa44;
    }
    section.companies-group {
        background-color: #FDFBFC;
        padding: 2.6vh 4vw;
    }
    h2 {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0.3em;
        padding-left: 0.2em;
        border-left: 0.3em solid #65aa44;
        border-bottom: 0.1em solid #65aa44;
        font-size: 1.6em;
        font-weight: 400;
        line-height: 1em;
    }
    /* hr {
        margin: 0;
        background-color: #65aa44;
    } */
    .all-text {
        font-weight: 300;
    }
    .complanies-blocks {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .uno-companie-block {
        width: 100%;
    }
    h3 {
        font-size: 1.6em;
        font-weight: 700;
        color: #65aa44;
    }
    section.what-do-we-offer {
        padding: 2.6vh 4vw;
    }
    .what-do-blocks {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .what-do-uno-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1em 0;
    }
    
    div.img-what-to-do {
        width: 5vw;
        height: 6vh;
        margin-right: 2em;
        background-image: url(/img/icon/car.png);
        background-repeat: no-repeat;
        background-position: center; 
        background-size: contain;
    }
    
    .bold-name {
        font-weight: 900;
        font-size: 0.8em;
        margin: 0;
        line-height: 1em;
        
    }
    section.purchase-table {
        display: none;
    }
    .new-blocks {
        flex-direction: column;
    }
    .news-uno-block {
        width: 100%;
        height: 24vh;
        margin-bottom: 3vh;
    }
    .news-uno-block > img {
        height: 20vh;
        width: 16vh;
    }
    .news-text {
        width: 100%;
        /* height: 18vh; */
        margin-left: 2vw;
    }
    .news-text p {
        margin: 0;
        font-size: 1em;
    }
    h4 {
        font-size: 1em;
    }
    .news-data {
        font-size: 1em;
    }
    footer {
        background-color: #FDFBFC;
        padding-left: 4vw;
    }
    .footer-blocks {
        display: flex;
        /* justify-content: space-around; */
        flex-direction: column;
    }
    .footer-uno-block p.bold-name {
        margin-left: 0;
        width: 15vw;
    }

    .footer-uno-block {
        margin-bottom: 3vh;
    }
    .footer-img {
        display: flex;
        flex-direction: row;
    }
    .lin-img {
        margin-right: 1em;
    }
    /* .footer-uno-block.contacts {
        flex-direction: row;
    } */
    /* .footer-uno-block > img{
        width: 3.5vw;
        height: 4.4vh;
        object-fit: cover;
        margin-right: 1em;
    } */
    .footer-uno-block > p {
        margin-left: 1em;
        font-size: 0.8em
    }
    .footer-text {
        margin: 0;
    }
    /* img.envelope {
        height: 4vh;
    } */
    
    div.shift-text {
        padding-left: 3vw;
    }
    
    .shift-text > p {
        font-size: 0.8em
    }
}

@media screen and  (min-width: 769px) and (max-width: 991px) {
    body {
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 85vh 420vh 78vh;
        grid-template-columns: 100%;
        margin: 0;
    }
    header {
        grid-row: 1 / 2;
        padding: 0 3.4722222222222223vw;
        position: relative;
        background-image: url(/img/wheat.jpg);
        background-size: 62vw 83vh;
        background-color: #FDFBFC;
        background-repeat: no-repeat;
        background-position: top left;
    }
    nav {
        display: flex;
        width: 100%;  
        justify-content: end;
    }
    a {
        display: inline-block;
        width: 4em;
        text-decoration: none;
        color: #000;
        padding: 1.3vh 2.2vw;
        font-size: 1em;
        font-weight: 300;
        text-align: center;
    }
    .hero-text-block {
        position: absolute;
        max-width: 59%;
        top: 55%;
        right: 3%;
        transform: translateY(-50%);
    }
    .hero-text {
        display: block;
        font-size: 1.6em;
        font-weight: 300;
    }

    .what-do-blocks {
        display: flex;
        flex-direction: column;
        justify-content: start;
        flex-wrap: wrap;
        height: 32vh;
    }
    h2 {
        font-size: 1.9em;
    }

    th, td {
        padding: 0.5vh 0.5vw;
    }
    .new-blocks {
        flex-direction: column;
    }
    .news-uno-block {
        width: 100%;
        height: 24vh;
        margin-bottom: 3vh;
    }
    .news-uno-block > img {
        height: 20vh;
        width: 19vh;
    }
    .news-text {
        width: 100%;
        margin-left: 2vw;
        padding-right: 0.8em;
    }
    .news-text p {
        margin: 0;
        font-size: 1em;
    }
    h4 {
        font-size: 1em;
    }
    .news-data {
        font-size: 1em;
    }
    footer {
        padding-left: 4vw;
    }
    .footer-blocks {
        display: flex;
        /* justify-content: space-around; */
        flex-direction: column;
    }
    .footer-uno-block p.bold-name {
        margin: 0;
        width: 15vw;
    }

    .footer-uno-block {
        margin-bottom: 4vh;
    }
    .footer-img {
        display: flex;
        flex-direction: row;
    }
    .lin-img {
        margin-right: 0.5em;
    }
    .footer-uno-block > p {
        margin-left: 1em;
        font-size: 0.8em
    }
    .footer-text {
        margin: 0;
    }
    div.shift-text {
        padding-left: 3vw;
    }
    
    .shift-text > p {
        font-size: 0.8em
    }

}