body {
    min-width: 76.38888888888889vw;  
    display: grid;
    grid-template-rows: 100vh 265.8698539176627vh 45.0199203187251vh;
    grid-template-columns: 100%;
    margin: 0
}
a:hover {
    cursor: pointer;
}
button:hover {
    cursor: pointer;
}
header {
    box-sizing: border-box;
    grid-row: 1 / 2;
    font-family: 'Montserrat', sans-serif;
    margin-left: 4.545454545454546vw;
    margin-right: 4.545454545454546vw;
}
nav {
    box-sizing: border-box;
    max-width: 100%;
    min-height: 6.241699867197875vh;
    margin-top: 2.2576361221779546vh;
    margin-bottom: 2.2576361221779546vh; 
    font-size: 1.090909090909091vw;
    text-transform: uppercase;
}
img.nav-logo {
    /* width: 10vw; */
    height: 3.9840637450199203vh;
    margin-right: 2vw;
}
nav a { 
    vertical-align: middle;
    margin-right: 1.7272727272727273vw;
    text-decoration: none;
    font-weight: 500; 
    color: #000;
}
.nav-btn {
    float: right;
    width: 17vw;
    height: 7vh;
    background-color: #079FD0;
    border: none;
    border-radius: 0.7vw;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 1.090909090909091vw;
    color: white;
}
.hero {
    box-sizing: border-box;
    position: relative;
    width: 71vw;
    height: 89.37583001328021vh;
    background-color: #C4C4C4AD;
}
.hero-pic {
    position: absolute;
    width: 42vw;
    height: 55.245683930942896vh;
    top: 16.334661354581673vh;
    left: 48vw;
}
.hero-text {
    display: grid;
    position: absolute;
    width: 32vw;
    top: 5vh;
    left: 5vw;
    
}
h1 {
    margin: 0;
    font-size: 18vw;
    font-weight: 400;
    align-items: center;
    letter-spacing: -0.05em;
    text-transform: lowercase;
}
h2.weird-header {
    width: 25vw;
    margin: 0;
    font-weight: 500;
    font-size: 3vw;
    line-height: 3vw;;
    line-height: 7.304116865869854vh;
    text-transform: uppercase;
    color: #fff;
}
.hero-wierd-text {
    font-weight: 600;
    font-size: 1.6666666666666667vw;
    color: #fff;
}
main {
    box-sizing: border-box;
    grid-row: 2 / 3;
    font-family: 'Montserrat', sans-serif;
    margin-left: 4.545454545454546vw;
    margin-right: 4.545454545454546vw;
}
.about-us {
    display: flex;
    flex-direction: column;
    margin-top: 14.741035856573705vh;
    margin-bottom: 14.741035856573705vh;
}

.about-us-block {
    display: flex;
    flex-direction: row;
    max-height: 79.28286852589642vh;
}
.about-us-block.second {
    flex-direction: row-reverse;
    margin-top: 14.741035856573705vh;
}
.about-us-block img{
    width: 45.83333333333333vw;
    height: 57.90172642762284vh;
}

.about-us-text {
    max-width: 37vw;
    margin-left: 9.166666666666666vw;
}

.about-us-block.second div.about-us-text {
    margin-right: 9.166666666666666vw;
    margin-left: 6vw;
}
h2.blue-header {
    font-weight: 400;
    font-size: 3.3333333333333335vw;
    text-transform: none;
    /* line-height: 50px; */
    color: #079FD0;

}

p.text-decr {
    font-weight: 300;
    font-size: 1.6666666666666667vw;
    /* line-height: 36px; */
    color: #000000;
}
.learn-more {
    padding: 0;
    margin-top: auto;
    background-color: transparent;
    border: none;
    border-radius: 0.9090909090909091vw;
    font-weight: 500;
    font-size: 1.25vw;
    text-transform: uppercase;
    color: #079FD0
}
.blue-header.header-robots {
    text-align: center;
    margin-bottom: 13.280212483399733vh;
}

.ebo-adds-blocks {
    display: flex;
    justify-content: space-between;
}

.ebos-adds {
    width: 26.38888888888889vw;
    height: 74vh;
}

.ebos-adds img {
    height: 37.18459495351925vh;
    width: 26.38888888888889vw;
}

.text-decr.ebbos-text {
    font-size: 1.3888888888888888vw;
}

.ebbos-text {
    max-width: 22vw;
    height: 11vh
}
.ebos-adds h3 {
    font-weight: 400;
    font-size: 2.083333333333333vw;
    /* line-height: 36px; */
    color: #079FD0;
}
footer {
    width: 100%;
    background-color: #C4C4C433;
    box-sizing: border-box;
} 
.footer-main-block {
    grid-row: 3 / 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 4.545454545454546vw;
    padding-right: 2vw;
    padding-top: 6.640106241699867vh;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    margin-bottom: 2.6560424966799467vh;
}
li > a {
    font-family: 'Montserrat';
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.25vw;
    color: #000000;
}

.footer-copyright {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.1111111111111112vw;
}