
nav, section, #home {
    box-shadow: 0px 0px 12px 0px rgba(61, 55, 61, 0.7);
}

.tm-banner {
    padding: 0;
    border: solid 30px #efefef;
}

.tm-nav-item-link:hover {
    background-color: #87CEFA;
    color: white;
}

.section-title {
    color: #87CEFA;
    font-weight: bold;
}

.color-blue {
    color: #87CEFA;
}

div#main {
    display: flex;
    align-items: center;
}

#main p::first-letter {
    font-size: 150%;
    color: #87CEFA;
  }

.flex-item.tm-team-description-container {
    flex: 1 0 40%;
}

.flex-item img {
    width: 100%;
}

.tm-section-title-box:hover {
    background-color: #87CEFA;
    transition: 5s;
    color: white;
    font-weight: bold;
}

section::before {
    content: "";
    border-left: 250px solid #00c3d9b3;
    border-bottom: 35px solid transparent;
    border-top: transparent;
  }

#we-are h2 {
    text-align: center;
    text-transform: capitalize;
}
#we-are ol {
    text-align: center;
}
#we-are ol > li {
    display: inline-block;
    margin: 0 20px 0 20px;
    list-style-type: none;
}

#we-are ol li:first-child { 
    margin-left: 0;
}

#we-are ol li:last-child { 
    margin-right: 0;
}

#we-are a:visited {
    text-decoration: underline;
    /* border-bottom: 10px; */
}

#our-work p:first-of-type {
    font-style: italic;
}

#our-work p:nth-of-type(2) {
    font-weight: bold;
}

#our-work .boxes {
    display: flex;
}

#our-work .box {
    padding: 0 10px 10px 10px;
}

.content h2 {
    font-size: 1.4rem;
    font-weight: 800;
    margin-top: 10px;
}

.content p {
    font-size: 12px;
}

#our-work .gallery-container li { 
    display: flex; 
    flex-direction: column; 
} 

#our-work .gallery-container .link { 
    margin-top: auto; 
    cursor: pointer;
}

#ideas h2:first-of-type {
    color: gainsboro;
    letter-spacing: 5px;
}

button.btn{
    display:block; 
    margin-left:auto;
    background-color: transparent;
    color: #87CEFA;
    border-color: #87CEFA;
    border-radius: 0px;
    padding: 0.7rem 3rem;
    font-weight: 300;
}

.mandatory-field::after {
    content: "*";
    color: red;
    font-weight: 800;
}

button.btn:hover {
    background-color: #87CEFA;
    color: white;
    border-color: #87CEFA;
}

@media print {
    
    .tm-main-content {
        padding-top: 0px;
    }

    .tm-banner {
        border: solid 30px transparent;
    }

    .tm-content-box {
        margin-bottom: 0;
    }

    #main {
        display: flex;
        flex-direction: column;   
    }

    .padding-medium {
        padding-top: 0;
    }

    .tm-team-description-container {
        max-width: fit-content;
    }

    section::before {
        display:none;
    }

    #main h2{
        color: blue;
        font-weight: 500;
        text-align: center;
    }

    #main p {
        text-align: center;
    }

    #main p::first-letter {
        font-size: 200%;
        color: black;
    }
    span.color-blue {
          color: black;
    }
    
    #about, #we-are, #our-work, #ideas, #forms {
        display: none;
    }

    nav.tm-main-nav {
        display: none;
    }
    
    footer p{
        margin-top: 15px;
        margin-bottom: 0;
    }
}
