header {
        position: relative;
        /* display: flex;
        justify-content: center; */
        background-image: $backgr-img;
        min-height: 580px;
        /* background-position:; */
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0 50% 50% 0;
    nav {
        display: flex;
        max-height: 70px;
        margin-left: 20px;
        text-align: center;
        a {
            max-width: 30px;
            text-decoration: none;
            font-size: 11px;
            color: rgba($font-color, $font-alpha);
            margin: 40px 10px 0 10px;
        }
    }
    .hero-header {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        /* -ms-transform: translate(-50%, -50%); */
        transform: translate(-50%, -50%); 
        justify-content: center; 
        align-items: center; 
        max-width: 70%;
        margin: 0 auto;
        h1 {
            font-family: 'Hind', sans-serif;
            font-weight: 100;
            color: rgba($font-color, $font-alpha);
            text-align: center;
        
        }
        button.hero-btn {
            font-size: 10px;
            margin: 30px auto 0 auto;
            padding: 15px 30px 15px 30px;
            color: white;
            border: 0.4px solid white; 
            border-radius: 0px;
            background-color: transparent;
            opacity: 0.2;
        }
    }
    
}
main {
    section.look-at-our-hot-tours {
        h2 {
            font-family: $tour-section-font;
            font-weight: 100;
            font-size: 32px;
            text-align: center;
            margin: 0;
        }
        .tours-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            .tour {
                display: flex;
                flex-direction: row;
                width: 800px;
                height: 200px;
                margin: 0 auto 20px auto;
                box-shadow: 0px 0px 12px 0px rgba(61, 55, 61, 0.7);
                .img-tour {
                    /* max-width: 200px;
                    height: 200px;
                    overflow: hidden; */
                    
                    img {
                       /*  display: block; */
                       height: 200px;
                       width: 200px;
                       object-fit: cover;
                    }
                }
                .tour_descr {
                    margin-left: 15px;
                    h3 {
                        font-family: $tour-section-font;
                        color: gray;
                        font-size: 27px;
                        font-weight: 100;
                        opacity: 0.8;
                        margin-bottom: 0;
                        text-align: center;
                    }

                    p {
                        margin-top: 0;
                        color: $tour-descr-font;
                        opacity: 0.8;
                    }
                }
        
            }
        }
    }
    section.reviews {
        max-width: 90%;
        margin: 20px auto 10px auto;
        background-color: $your-reviews-color;
        padding: 10px 0 10px 0;
        @mixin your-reviews {
            font-family: $tour-section-font;
            font-weight: 100;
            text-align: center;
            color: $your-reviews-font-color;
            opacity: 0.5;
        }
        h2 {
            @include your-reviews;
        }
        .blocks-together {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            .reveiw-block {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 30%;
                padding: 10px;
                background-color: $review-block-bg-color;
                .reviews-images {
                    img {
                        /*  display: block; */
                        height: 70px;
                        width: 70px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
                .review-text {
                    margin-left: 30px;
                    color: white;
                    font-size: 11px;
                    opacity: 0.8;
                }
            }
        }
       
    }

    section.find-your-own-town {
        width: 70%;
        margin: 10px auto 20px auto;
        background-color: $find-your-own-bg-color;
        padding: 20px 0 20px 0;
        h2 {
            font-family: $tour-section-font;
            font-weight: 100;
            text-align: center;
            color: $find-your-font-color;
            opacity: 0.5;
        }
        .inputs {
            display: flex;
            justify-content: space-evenly;
        }
        input.inputs-info, select {
            width: auto;
            background-color: transparent;
            border: none;
            color: #16232d;
            opacity: 0.7;
            border-bottom: 1px solid #16232d;
        }
        ::placeholder {
            color: #16232d;
            opacity: 0.7;
        }

    }

}

footer {
    display: flex;
    flex-direction: row;
    :nth-of-type(1) {flex-grow: 2;}
    :nth-of-type(2) {flex-grow: 1;}
    :nth-of-type(3) {flex-grow: 1;}
    :nth-of-type(4) {flex-grow: 2;}
    width: 100%;
    background-color: #334b7ced; /* $footbg-cl; - did not work */
    padding: 20px 30px 30px 30px;
    .footer-info-blocks {
        max-width: 30%;
        .footer-headers {
            color: $footer-headers;
            font-size: 15px;
        }
        .social-media-links {
            display: block;
            img {
                height: 40px;
                width: 40px;
                object-fit: cover;
            }
            a:first-child { 
                margin-left: 0;
            }
            
            a:last-child { 
                margin-right: 0;
            }
            .copyright-text {
                color: $copyright;
            }
        }
        .footer-list {
            ul {
                padding-left: 20px;
               li {
                list-style-type: none;
                line-height: 13px;
               }

            }
            
            a {
                text-decoration: none;
                color: $footer-headers;
                opacity: 0.6;
                font-size: 13px;
                
            }
        }
        .payment-methods-links {
            img {
                height: 40px;
                width: 40px;
                object-fit: contain;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            
            label {
                font-weight: bold;
                margin-bottom: 10px;
            }
            input {
                padding: 5px;
                border: none;
                border-radius: 0px;

            }
            ::placeholder {
                    font-size: 10px;
                    opacity: 0.7;
            }
            button {
                margin-top: 20px;
                border: none;
                border-radius: 0px;
                background-color: $btn-color;
                color: white;
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: 10px;
                opacity: 0.7;
            }
            
        }
        
    }

}

