$font-color: #4B2B60;
$font-alpha: 1;
$tour-section-font:'Source Sans Pro', sans-serif;
$backgr-img: url(/img/4.jpg);
$tour-descr-font:#4B2B60;
$your-reviews-color:#77548E;
$your-reviews-font-color: #AB8BC1;
$review-block-bg-color:#AB8BC1;
$find-your-own-bg-color:#796984;
$find-your-font-color:#4B2B60;
/* $footbg-cl:#693F85; */
$footer-headers:#9E64C6;
$copyright:#4B2B60;
$btn-color:#4B2B60;