$font-color: #fff;
$font-alpha: 0.7;
$tour-section-font:'Source Sans Pro', sans-serif;
$backgr-img: url(/img/0.jpg);
$tour-descr-font:#0a1d31;
$your-reviews-color:#7b4d5b;
$your-reviews-font-color:white;
$review-block-bg-color:#875e6a;
$find-your-own-bg-color:#829eb4;
$find-your-font-color:white;
/* $footbg-cl:#334b7ced; */
$footer-headers:#6391f5;
$copyright:#131a35;
$btn-color:#131a35;