#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box-let {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
}

.filled-box {
  border: 2px solid black;
}

.row-let {
  display: flex;
}

h1 {
  text-align: center;
  color: #8E7DBE;
}

.btn {
  width: 7em;
  height: 3em;
  margin-top: 2em;
  background-color: #8E7DBE;
  color: antiquewhite;
  border: none;
}

#reset-btn {
  margin-right: 3em;
}

.btns-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}