#nickname {
    display: block;
    margin: 20px auto;
}

.btns {
    display: flex;
    justify-content: center;
}
button {
    padding: 1em;
    margin-right: 15px;
    border-radius: 4px;
    border: none;
    background-color: yellowgreen;
}

#clickMe {
    display:block;
    height: 300px;
    width: 300px;
    margin: 40px auto;
    border-radius: 50%;
    background-color: plum;
    font-size: 30px;
}